<!DOCTYPE html>
<html>
<title>James Liao</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    h1,h2,h3,h4,h5,h6 {font-family: "Oswald"}
    body {font-family: "Open Sans"}
</style>
<body class="w3-light-grey">

<!-- Navigation bar with social media icons -->
<div class="w3-bar w3-black w3-hide-small">
    <a href="https://www.facebook.com/jamesliao0116" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
    <a href="https://www.instagram.com/jamesliao0116/" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
    <a href="https://www.linkedin.com/in/james-liao-52228447/" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
</div>

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1600px">

    <!-- Header -->
    <header class="w3-container w3-center w3-padding-48 w3-white">
        <h1 class="w3-xxxlarge"><b>WHO'S JAMES LIAO?</b></h1>
        <h6>Travelling between Computer Science and Finance world</h6>
    </header>

    <!-- Image header -->
    <header class="w3-display-container w3-wide" id="home">
        <img class="w3-image" src="/Users/ya25854/django1/mysite/mysite/static/img/headerphoto1.jpg" alt="Head photo" >
        <div class="w3-display-left w3-padding-large">
            <h1 class="w3-text-white">James'</h1>
            <h1 class="w3-jumbo w3-text-white w3-hide-small"><b>INTRODUCTION</b></h1>
        </div>
    </header>

    <!-- Grid -->
    <div class="w3-row w3-padding w3-border">

        <!-- Left Column -->
        <div class="w3-twothird">

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>The University of Melbourne - Master in Information Technology</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2017 - <span class="w3-tag w3-teal w3-round">present</span></h6>
                    <ul>
                        <li>Coursework taken with First Class Honour: Algorithms and Complexity, Database Systems & Information Modelling (SQL),
                        Internet Technologies, Programming and Software Development (Java) </li>
                    </ul>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>National Taiwan University (NTU) - BBA in Finance</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2009 - Jan 2014</h6>
                    <ul>
                        <li>GPA 3.98/4.0</li>
                        <li>Relevant Coursework: Practice in Investment Banking, Financial Statement Analysis, Advanced Accounting, Corporate Finance, Macroeconomics,
                            Microeconomics, Intermediate Accounting, Statistics, Financial Institution Management </li>
                    </ul>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>University of Mannheim - exchange program</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Sep 2012 - Jun 2013</h6>
                    <ul>
                        <li>Relevant Coursework: The German Financial Market, Understanding the Euro Crisis, Understanding the German Economy</li>
                    </ul>
                    <hr>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>University of California, Berkeley - summer school</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2011 - Aug 2011</h6>
                    <ul>
                        <li>Relevant Coursework: Marketing (Class Rank 33/135)</li>
                    </ul>
                    <hr>
                </div>
            </div>

            <div class="w3-container w3-card w3-white">
                <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Equity Research Associate / BNP Paribas</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Apr 2015 - Jun 2017</h6>
                    <ul>
                        <li>Greater China Tech Team</li>
                        <li>Attended investor meetings, arranged company visit in China, and wrote takeaway notes for the meetings </li>
                        <li>Prepared 9+ initiation reports on China A-share and Taiwan tech companies, including Wangsu Science & Technology (300017 CH), a CDN service provider in
                            China</li>
                        <li>Drafted sector reports on China technology industry, including China Electric Vehicle battery materials and China ADAS</li>
                        <li>Assisted in report publication with production team, maintaining/building financial models, and replying client requests</li>
                    </ul>
                </div>
                <div class="w3-container">
                    <h5 class="w3-opacity"><b>Equity Research Intern / UBS AG</b></h5>
                    <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Aug 2013 - Feb 2014</h6>
                    <ul>
                        <li>Taiwan Non-Tech & Semiconductor Team</li>
                        <li>Prepared morning meeting packets and replied requests from clients and sales team </li>
                        <li>Compiled company visit materials, attended analyst meeting, updated models and prepared industry news summary</li>
                        <li>Drafted Taiwan Cross-Connections report, providing foreign investors a guide to 25 major business groups in Taiwan, including ownership structure, a
                            brief business description of major companies within the group, key events and financial data</li>
                        <li>Conducted industry analysis on Cleanaway (8422 TT), a leading hazardous waste clearance company in Taiwan, to assist in publishing non-covered report
                            for potential investors</li>
                    </ul>
                </div>
            </div>




            <!-- End Left Column -->
        </div>


        <!-- About/Information menu -->
        <div class="w3-col l4">
            <!-- About Card -->
            <div class="w3-white w3-margin">
                <img src="/Users/ya25854/django1/mysite/mysite/static/img/headerphoto3.jpg" alt="James" style="width:100%" >
                <div class="w3-container w3-black">
                    <h4>About me</h4>
                    <p>Born in Taiwan, a young man passionate about travel and stuffs. Couples years of experience in finance and banking, and now a computer science
                    major student in the University of Melbourne, exploring a new area. </p>
                </div>
            </div>
            <hr>
            <!-- Contact -->
            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Contact Me</h4>
                </div>
                <div class="w3-container w3-white">
                    <ul>
                        <li>Email: <a href="mailto:jamesliao0116@gmail.com">jamesliao0116@gmail.com</a></li>
                        <li>Mobile: +61  411 678 454 (AU)</li>
                    </ul>
                </div>
            </div>

            <hr>

            <div class="w3-white w3-margin">
                <div class="w3-container w3-padding w3-black">
                    <h4>Follow Me</h4>
                </div>
                <div class="w3-container w3-xlarge w3-padding">

                    <a href="https://www.facebook.com/jamesliao0116"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
                    <a href="https://www.instagram.com/jamesliao0116"><i class="fa fa-instagram w3-hover-opacity"></i></a>
                    <a href="https://www.linkedin.com/in/james-liao-52228447/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
                </div>
            </div>
            <hr>

            <!-- END About/Intro Menu -->
        </div>

        <!-- END GRID -->
    </div>

    <!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="w3-container w3-dark-grey" style="padding:32px">
    <a href="#" class="w3-button w3-black w3-padding-large w3-margin-bottom"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <p>James Liao, Mar 2018</a></p>
</footer>

</body>
</html>
